In [2]:
#Credit Card Fraud Detection With Python

# Importing the Dependencies

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
#Loading the dataset to a Pandas DataFrame
credit_card_df=pd.read_csv('creditcard.csv')

In [5]:
#First 5 rows of this Dataset
credit_card_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
credit_card_df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [7]:
# dataset information 
credit_card_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [8]:
#checking the number of missing values in each column
credit_card_df.isnull().any()

Time      False
V1        False
V2        False
V3        False
V4        False
V5        False
V6        False
V7        False
V8        False
V9        False
V10       False
V11       False
V12       False
V13       False
V14       False
V15       False
V16       False
V17       False
V18       False
V19       False
V20       False
V21       False
V22       False
V23       False
V24       False
V25       False
V26       False
V27       False
V28       False
Amount    False
Class     False
dtype: bool

In [9]:
credit_card_df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [10]:
#distribution of legit transactions and fraudulent transaction
credit_card_df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This Dataset is highly unbalanced

0 ----> Normal Transaction 

1 ----> Fraudulent Transaction

In [11]:
# Separating the data for analysis
legit = credit_card_df[credit_card_df.Class==0]
fraud = credit_card_df[credit_card_df.Class==1]

In [12]:
print('legit shape {0}'.format(legit.shape))
print('fraudulent shape {0}'.format(fraud.shape))

legit shape (284315, 31)
fraudulent shape (492, 31)

In [13]:
# Statistical measure of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [14]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [15]:
# compare the values for both transactions
credit_card_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Under-Sampling

Build a sample dataset containing similar distribution of Normal transaction and Fraudulent Transactions

Number Of Fraudulent Transaction ==> 492

In [16]:
legit_sample = legit.sample(n=492)

## Concatenating two DataFrames

In [17]:
new_dataset = pd.concat([legit_sample,fraud],axis=0)

In [18]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
95297,65244.0,-1.440108,1.168525,1.812499,0.061799,-0.776294,-0.963881,0.030780,0.427024,-0.184746,...,0.081654,0.084968,-0.094441,0.699765,0.246975,0.362773,-0.118740,0.056031,2.09,0
120340,75790.0,1.393508,-0.410401,0.506026,-0.666989,-1.046268,-1.076694,-0.450833,-0.233603,-0.872470,...,-0.128917,-0.506825,0.141296,0.374845,0.230055,-0.519034,0.006521,0.024185,17.90,0
109687,71492.0,0.254677,-1.539575,-0.180185,1.078023,-0.170099,1.457220,0.091805,0.233211,0.091751,...,0.291564,-0.242062,-0.613867,-1.682359,0.286566,-0.368922,-0.026463,0.096069,506.40,0
85797,60942.0,-0.664813,0.502892,2.027961,0.245032,-0.432579,-0.383866,0.195156,0.138404,0.362847,...,0.140922,0.633372,-0.145783,0.437836,-0.107404,0.455649,0.349701,0.199436,29.99,0
199583,133035.0,2.088771,-0.741188,-1.734428,-0.742969,-0.234467,-0.715407,-0.440285,-0.244195,-0.316601,...,0.181923,0.451521,0.037838,0.419402,0.032986,-0.149184,-0.015864,-0.013371,78.86,0

In [19]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [26]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [27]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,92787.638211,-0.052704,0.049258,0.014947,0.031847,-0.024270,-0.067099,0.042873,0.027380,0.027864,...,-0.047589,-0.029635,-0.000189,-0.038459,0.027269,-0.003328,-0.003297,0.008515,-0.011718,85.258618
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

### Splitting the data Features & Targets

In [31]:
#Features
X = new_dataset.drop(columns='Class',axis=1)
#Targets
Y = new_dataset['Class']

In [30]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
95297    65244.0 -1.440108  1.168525  1.812499  0.061799 -0.776294 -0.963881
120340   75790.0  1.393508 -0.410401  0.506026 -0.666989 -1.046268 -1.076694
109687   71492.0  0.254677 -1.539575 -0.180185  1.078023 -0.170099  1.457220
85797    60942.0 -0.664813  0.502892  2.027961  0.245032 -0.432579 -0.383866
199583  133035.0  2.088771 -0.741188 -1.734428 -0.742969 -0.234467 -0.715407
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
95297   0.030780  0.427024 -0.184746  ... -0.124941  0.081654  0.084968
120340 -0.450833 -0.233603 -0.872470  ...  0.104471 -0.128917 -0.506825
109687  0.091805  0.233211  0.091751  ...  0.964701  0.291564 -0.242062
85797   0.195156  0.138404  0.362847  ...  0.167062  0.140922  0.633372
199583 -0.440285 -0.244195 -0.316601  ...  0.204262  0.181923  0.451521
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
95297  -0.094441  0.699765  0.246975  0.362773 -0.118740  0.056031    2.09
120340  0.141296  0.374845  0.230055 -0.519034  0.006521  0.024185   17.90
109687 -0.613867 -1.682359  0.286566 -0.368922 -0.026463  0.096069  506.40
85797  -0.145783  0.437836 -0.107404  0.455649  0.349701  0.199436   29.99
199583  0.037838  0.419402  0.032986 -0.149184 -0.015864 -0.013371   78.86
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [32]:
print(Y)

95297     0
120340    0
109687    0
85797     0
199583    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

### Split the Data into Training data & Testing Data

In [41]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [42]:
X_test

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
247995,153761.0,1.146259,1.403458,-4.159148,2.660107,-0.323217,-1.836071,-1.623740,0.259562,-1.132044,...,0.284831,0.564450,0.445744,-0.141136,-0.265517,0.362260,-0.416062,0.507370,0.243744,51.37
143350,85292.0,1.072203,-0.124523,1.233197,1.718860,-0.652144,0.617414,-0.483343,0.246040,1.150816,...,-0.158149,-0.405421,-0.667544,0.073002,0.099879,0.446665,-0.512380,0.094842,0.030903,14.80
87475,61699.0,1.256551,0.417537,0.324215,0.685144,-0.293604,-1.052394,0.146675,-0.253850,-0.100650,...,-0.024043,-0.277368,-0.757992,0.118653,0.369449,0.245745,0.091436,-0.017362,0.032747,1.98
267000,162573.0,-1.385301,2.012758,-1.404025,-0.679939,0.205607,-0.943622,0.410893,0.504008,0.548972,...,0.182307,-0.376478,-0.947125,0.199164,0.533189,-0.283900,0.079022,-0.149708,-0.078081,11.99
15451,26833.0,-20.532751,12.373989,-23.009003,6.144821,-15.587296,-4.384491,-15.939003,13.696416,-3.948455,...,1.592754,1.754608,-1.466115,-0.856779,0.125777,1.402587,-0.223755,1.574249,0.469201,99.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108258,70828.0,0.196707,1.189757,0.704882,2.891388,0.045555,1.245730,-1.198714,-2.421616,-1.232089,...,0.646616,-1.328132,0.189311,-0.005524,-0.814708,0.400924,0.286281,0.135215,0.257315,0.76
12108,21046.0,-16.917468,9.669900,-23.736443,11.824990,-9.830548,-2.514829,-17.290657,1.820408,-6.264903,...,0.996745,-2.336111,0.972755,1.241866,-1.051086,0.038009,0.672317,2.108471,-1.421243,1.00
99506,67150.0,-1.824295,0.403327,-1.994122,2.756558,-3.139064,0.408185,-1.209045,1.095634,-1.447225,...,1.503688,0.838760,0.341727,0.947506,-0.145493,0.049326,0.831065,0.332421,0.252713,489.71
74496,55614.0,-7.347955,2.397041,-7.572356,5.177819,-2.854838,-1.795239,-8.783235,0.437157,-3.740598,...,0.073164,-0.175273,0.543325,-0.547955,-0.503722,-0.310933,-0.163986,1.197895,0.378187,0.83
2274,1818.0,-1.375675,1.606235,0.539008,0.079172,-0.552887,-1.098080,0.160548,0.559207,-0.222976,...,-0.007127,-0.269981,-0.751773,0.144369,0.307581,-0.100539,0.047063,-0.170038,-0.213426,17.13

In [43]:
X_train

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
100623,67571.0,-0.758469,-0.045410,-0.168438,-1.313275,-1.901763,0.739433,3.071892,-0.483422,0.618203,...,-0.032500,0.042619,0.397224,0.072229,-0.242276,0.560916,-0.540955,0.150606,-0.117140,549.06
193018,129956.0,-0.702223,0.163763,-0.141376,-2.481831,0.847153,-0.953467,1.269363,-0.576566,-0.643147,...,0.345398,0.098480,0.939676,-0.296558,-0.377586,0.209721,-0.177935,0.245373,-0.093010,28.66
97511,66250.0,-0.683830,1.208841,1.599361,-0.003248,-0.239315,-1.111171,0.704848,-0.088048,-0.256453,...,0.232059,-0.233209,-0.541071,0.032416,0.694274,-0.177337,0.054889,0.370346,0.192344,4.87
116776,74424.0,1.531480,-1.080376,0.102231,-1.621735,-1.165138,-0.252647,-1.081344,-0.006887,-1.928909,...,-0.338978,-0.225221,-0.327925,-0.071792,-0.541697,0.440163,-0.169846,0.019670,0.000938,15.00
245024,152576.0,2.076087,0.187212,-2.073412,0.418363,0.637924,-0.924869,0.334560,-0.280990,0.415090,...,-0.134962,-0.282863,-0.723357,0.217059,0.379244,-0.079810,0.307690,-0.074430,-0.032090,13.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175933,122561.0,-1.713922,-0.499454,0.565134,1.255139,2.497534,-2.008569,0.547070,-0.183399,-1.123724,...,0.468422,0.287037,0.236552,-0.190495,-0.037524,1.158659,-0.174338,-0.052257,0.082676,45.00
109559,71436.0,0.839640,-0.917731,1.175804,1.538371,-0.901176,1.544846,-0.961085,0.510463,1.526145,...,0.178367,-0.003900,0.122218,-0.383337,-0.778583,0.624438,-0.185764,0.074557,0.042697,158.99
223618,143456.0,-2.006582,3.676577,-5.463811,7.232058,-1.627859,-0.996755,-4.299833,2.268867,-3.651067,...,0.474414,0.713907,-0.063868,0.167947,-0.449864,0.023702,0.536905,0.485864,-0.042393,1.00
43061,41353.0,-15.020981,8.075240,-16.298091,5.664820,-11.918153,-4.246957,-14.716668,9.435084,-6.795398,...,-0.995787,2.525115,-0.832074,-0.186117,0.429781,0.697103,0.056031,-1.310888,-0.707403,34.12
30977,36161.0,-0.974330,1.035049,1.493623,1.178804,-0.533925,-0.389137,-0.001936,0.598204,-0.854518,...,0.188540,0.122085,0.185460,0.054646,0.510548,-0.323041,-0.409413,0.279369,0.111513,36.00

In [44]:
Y_train

100623    1
193018    0
97511     0
116776    0
245024    0
         ..
175933    0
109559    0
223618    1
43061     1
30977     0
Name: Class, Length: 787, dtype: int64

In [45]:
Y_test

247995    1
143350    0
87475     0
267000    0
15451     1
         ..
108258    1
12108     1
99506     1
74496     1
2274      0
Name: Class, Length: 197, dtype: int64

In [47]:
print(X_train.shape)

(787, 30)

In [48]:
print(Y_train.shape)

(787,)

### Model Training

#### Logistic Regression

In [55]:
model = LogisticRegression()

#### Training the Logistic Regression Model with Training Data

In [56]:
model.fit(X_train,Y_train)

LogisticRegression()

####  Model Evaluation

Accuracy Score

In [57]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [58]:
print('Accuracy on Training Data :',training_data_accuracy)

Accuracy on Training data : 0.9453621346886912

In [60]:
#accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [61]:
print('Accuray on Testing Data :',test_data_accuracy)

Accuray on Testing Data : 0.9238578680203046